{% extends "layout.html.twig" %}
{% block header %}
		<link href="../style/style.css"  type="text/css" rel="Stylesheet"/> 
        <meta charset="UTF-8">
{% endblock %}

{% block main %}
 <main class="main">
	{{imie}}
 </main>
{%  endblock %}